<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345909511283-4le8lnbf2503jqjms866qohb2usjol79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345909511283-4le8lnbf2503jqjms866qohb2usjol79</string>
	<key>API_KEY</key>
	<string>AIzaSyCBGvnfv-3ORC5svU6oK-ftYgRksPPOQko</string>
	<key>GCM_SENDER_ID</key>
	<string>345909511283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudApp</string>
	<key>PROJECT_ID</key>
	<string>crud-ops-4b48b</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-ops-4b48b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345909511283:ios:0ad7922e4c8b2376159606</string>
</dict>
</plist>